*{
    scrollbar-width:thin;
    scrollbar-color: white black;
}

body{
    background: black;
    background-image: url(./stars_black.jpg);

}
::placeholder{
    color: white;
    opacity: 0.8;;
}
a:link, a:visited, a:active{
    color:rgb(38, 207, 38);
}

#SNe-FLtype{
    background: black;
    border:none;
    color:white;
    opacity: 0.8;
}
#SNe-CLtype{
    background: black;
    border:none;
    color:white;
    opacity: 0.8;
}
#SNe-CCDtype{
    background: black;
    border:none;
    color:white;
    opacity: 0.8;
}
#SNe-FLsub{
    color: white;
    border: solid #505050;
    border-radius: 20px;
    background-color: #505050;
    outline: none;
    box-shadow: none;
}
#SNe-CLsub{
    color: white;
    border: solid #505050;
    border-radius: 20px;
    background-color: #505050;
    outline: none;
    box-shadow: none;
}
#SNe-sub{
    color: white;
    border: solid #505050;
    border-radius: 20px;
    background-color: #505050;
    outline: none;
    box-shadow: none;
}
#dtCL{
    background: black;
    border:none;
    color:white;
    opacity: 0.8;
}
#dt{
    background: black;
    border:none;
    color:white;
    opacity: 0.8;
}
#dt-CLsub{
    color: white;
    border: solid #505050;
    border-radius: 20px;
    background-color: #505050;
    outline: none;
    box-shadow: none;
}
#dt-sub{
    color: white;
    border: solid #505050;
    border-radius: 20px;
    background-color: #505050;
    outline: none;
    box-shadow: none;
}


/* input box */
.Select-control {
    background:#505050;
}

.is-open>.Select-control {
    background-color: #505050;
}

/* changes the text color of input box */
.Select-value-label {
    color: white !important;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    border: solid #505050;
    border-radius: 4px;
}


/* dropdown menu options */
.VirtualizedSelectOption {
    background-color: #505050;
    color: white;
 }
